*{
  margin: 0;padding: 0;box-sizing: border-box; 
}
.main{
  width: 100%;
  height: 100%;
  background-color: #01d;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.locationData{
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.location{
  font-size: 42px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}
.capital{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-top: 17px;

}
.time{
  color: #fff;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.containt1{
  color: #fff;
  display: flex;
}
.icon{
  display: flex;
}
img{
  width: 15rem;
  margin-left: .4rem;
}
.temprature{
  margin-top: 1.2rem;
  color: #fff;
}
.todayTemp{
  margin-top: 2rem;
  font-size: 92px;
}
.todayText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  font-size: 22px;
  letter-spacing: 2px;
}
.containt1-right{
  margin-top: 5rem;
  margin-left: 10rem;
  display: flex;
}
.humidity{
  margin-right: 5rem;
  width: 6rem;
  height: 6rem;
  
  text-align: center;
} 
.UV{
  margin-right: 5rem;
  width: 6rem;
  height: 6rem;
  /* border-top: 2px solid silver; */
  text-align: center;
} 
.name{
  margin-bottom: 2rem;
}

.data{
  font-size: 22px;
  
}
.contiant2{
  display: flex;
  color: #fff;
  justify-content: space-around;

}
.astro{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  
}
.r1{
  align-items: center;
  width: 10rem;
  text-align: center;
  display: grid;
  justify-content: center;
  height: 10rem;
  /* border: .1rem solid silver; */
  background-color: #3d6db9;
  border-radius: 10px;

}
.astroResult{
  text-align: center;
}
.ClimateTable h1{
  /* margin-top: 2rem; */
  padding: 2rem;
  text-decoration: underline;
}
.climateTablePerDay h1{
  padding: 2rem;
  text-decoration: underline;
}
table{
  border: 1p solid black;
  /* margin: 5rem; */
  border-collapse: collapse;
}
.perDayImg{
  width: 3rem;
}
th{
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid gray;
}
td{
  color: #fff;
  border: 1px solid gray;
  text-align: center;
}
.footer{
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.a, .b, .c{
  display: flex;
}
.r1{
  margin-right: 5px;
}
@media screen and (max-width: 667px) {
  .containt1{
    display: grid;
    justify-content: center;
  }
  .main{
    /* margin-left:rem; */
  }
  img{
    width: 10rem;
    height: 10rem;
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .containt1-right{
    /* padding-left: 2rem; */
  }
  .contiant2{
    display: grid;
  }
  .a, .b, .c{
    display: flex;
  }
  .r1{
    margin: 5px;
  }
  .footer{
    display: grid;
    justify-content: center;
  }
  .humidity,.UV{
    width: 4rem;
    height: 4rem;
    /* margin-right: 3rem; */
    margin-left: -2rem;
    justify-content: center;
  }
  .containt1-right{
    display: flex;

  }
  h1{
    text-align: center;
  }
  .ClimateTable{
    display: flex;
    justify-content: center;
  }
  .perDayImg{
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  thead{
    display: none;

  }
  td{
    display: block;
  }
  .ClimateTable td:first-child{
    background-color: #3d6db9;
    text-align: center;
  }
  .ClimateTable td:nth-child(1)::before{
    content: "Date";
  }
  .ClimateTable td:nth-child(2)::before{
    content: "Temprature";
  }

  .ClimateTable td:nth-child(3)::before{
    content: "Icon";
  }
  .ClimateTable td:nth-child(4)::before{
    content: "Wind direction";
  }
  .ClimateTable td:nth-child(5)::before{
    content: "Humidity";
  }
  .ClimateTable td{
    text-align: right;
    line-height: 2rem;
  }
  .ClimateTable table thead {
    margin-top: 1rem;
  }
.ClimateTable td::before{
  float: left;
  margin-right: 5rem;
  color: #eee;
  font-size: 16px;
  /* height: 2rem; */
}
.climateTablePerDay td:nth-child(1)::before{
  content: "Date";
  
}
.climateTablePerDay td:nth-child(2)::before{
  content: "Max Temp";
}

.climateTablePerDay td:nth-child(3)::before{
  content: "Min Temp";
}
.climateTablePerDay td:nth-child(4)::before{
  content: "Avg Temp";
}
.climateTablePerDay td:nth-child(5)::before{
  content: "Icon";
}
.climateTablePerDay td::before{
   float: left;
   margin-right:5rem ;
}
.climateTablePerDay td{
  text-align: right;
  line-height: 2rem;
}
.climateTablePerDay td:first-child{
  background-color: #3d6db9;
  color: #eee;
}
.ClimateTable{
  display: grid;
}
.climateTablePerDay tbody tr  :nth-child(5n+1){
  margin-top: 2rem;
}
.ClimateTable tbody tr  :nth-child(5n+1){
  margin-top: 2rem;
}
}
